@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,500;1,600&display=swap');

/* *{
    color:rgba(86, 168, 54, 0.951);
} */
body{
    background-image:url('../Images/black-carbon-fibre-texture--dark-tech-background.jpg')
}

.container{
    background-image:url('../Images/ezgif-1-be16897a81.jpg');
    /* position: absolute;
    right:0px; */
    background-repeat:no-repeat;
    background-position:right top;
    background-attachment: scroll;
    /* z-index: -1; */
}

.container > h3{
    /* border:1px dashed green; */
    border-style: dotted;
    border-width: 1px ;
    border-radius: 10px;
}
.mypara{
    /* margin: 20px 10px; */
    border: 1px solid red;
    /* padding-left: 10px; */
    height: 100%;
    width: 100%;
}

/* .container > span{
    border: 1px solid brown;
} */


h1{
    color:red; /*text Color*/
}

.section > p{
    background-color:wheat;
    /* margin-right: 8%; */
    border: 1px solid red;
    /* border-radius:50%; */
    /* padding-left:10%; */
    text-align:center;
    /* justify-content: center; */
    height: 100%;
    width: 50%;
    box-shadow: 15px 8px 10px grey;
    /* background-position: center; */
    /* text-align:end; */
    justify-content:space-between;
    /* letter-spacing: 10% !important; */
}

.search > img{
    height: 580px;
    width: 100%;
    background-size: cover;
}

.search > a{
    font-size: 50px;
    text-decoration: none;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;

}

.P > p{
    font-size: 50px;
    color:white;
    font-family:Poppins;
    /* display:float; */
}

.trial{
    color:rgb(255, 255, 4); /*Declaration*/
}

/* p{
    color:white;
    font-size: 50px;
} */

.search > p{
    color:#0c4140; 
    border: 2px solid rgb(126, 108, 84);
    /* background-color:hsl(0, 62%, 54%); */
    background-color: lightcyan;
    opacity:0.7; /*Transparency of a particular element*/
}