/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,500;1,600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,500&display=swap');

/* *{
    color:rgba(86, 168, 54, 0.951);
} */
body{
    background-image:url('../Images/black-carbon-fibre-texture--dark-tech-background.jpg');
    margin:auto;
}

.container{
    background-image:url('../Images/ezgif-1-be16897a81.jpg');
    /* position: absolute;
    right:0px; */
    background-repeat:no-repeat;
    background-position:right top;
    background-attachment: scroll;
    /* z-index: -1; */
}

.container > h3{
    /* border:1px dashed green; */
    border-style: dotted;
    border-width: 1px ;
    border-radius: 10px;
}
.mypara{
    /* margin: 20px 10px; */
    /* padding-left: 10px; */
    /* border: 1px solid red;
    height: 100%;
    width: 100%; */
    width: 300px;
    border: 15px solid lightblue;
    background-color: antiquewhite !important;
    background-color:wheat;
    padding: 25px;
    margin: 10px;
}

/* .container > span{
    border: 1px solid brown;
} */


h1{
    color:red; /*text Color*/
}

.section > p{
    background-color:wheat;
    /* margin-right: 8%; */
    border: 1px solid red;
    /* border-radius:50%; */
    /* padding-left:10%; */
    text-align:center;
    /* justify-content: center; */
    height: 100%;
    width: 50%;
    box-shadow: 15px 8px 10px grey;
    /* background-position: center; */
    /* text-align:end; */
    justify-content:space-between;
    /* letter-spacing: 10% !important; */
}

.search > img{
    height: 580px;
    width: 50%;
    background-size: cover;
    text-align: end;
    /* float: right; */
}

.search > a{
    font-size: 50px;
    text-decoration: none;
    /* color:white; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;

}

.P > p{
    font-size: 50px;
    color:white;
    font-family:Poppins;
    /* display:float; */
}

.trial{
    color:rgb(255, 255, 4); /*Declaration*/
}

/* p{
    color:white;
    font-size: 50px;
} */

.search > p{
    color:#0c4140; 
    border: 2px solid rgb(126, 108, 84);
    background-color: lightcyan;
    opacity:0.7; /*Transparency of a particular element*/
    /* background-color:hsl(0, 62%, 54%); */
}

/* .myclasses{}
    /* color:black; */
    /* text-align:justify;
    text-decoration-line:underline;
    text-decoration-style: solid;
    text-decoration-color:teal;
    text-decoration-thickness: 10px; */
    /* text-decoration: underline teal dashed 0.22px; */
    /* text-transform: capitalize; */
    /* text-indent: 5%; */
    /* word-spacing:5px; */
    /* line-height:100%; */
    /* white-space: nowrap; */
    /* text-shadow: 2px 2px 5px red; */


.myclasses{
    font-size: 25px;
    /* font-family: Lobster; */
    font-variant: small-caps;
}
   


        a:link {
        color: red;
    }
    
        a:visited {
        color: green;
    }
    
        a:hover {
        color:darkcyan;
    }
    
        a:active {
        color: blue;
    }

    /* a:link{
        background-color:lightblue
    }

    a:visited{
        background-color:lightcoral
    }

    a:hover{
        background-color:lightseagreen;
    }

    a:active{
        background-color:antiquewhite;
    } */

#my-form{
    padding: 20px;
}

#my-form .form-group{
    padding-bottom: 20px;
}

#my-form label{
    display:block;
}

#my-form .input-type{
    padding:8px;
    width:100%;
}

.overflow{
    width: 250px;
    height: 70px;
    border: 1px solid red;
    background-color: aquamarine;
    overflow:auto;
    /* margin-bottom:50px; */
}

.my-float img{
    float: right;
    text-align: center;
    justify-content: center;
}