.First_Tag{
    color:rgb(105, 5, 5);
}

.First_Class{
    background-color:skyblue;
    /* color:white; */
}

    a:link {
    color: red;
}

/* visited link */
    a:visited {
    color: green;
}

/* mouse over link */
    a:hover {
    color: hotpink;
}

/* selected link */
    a:active {
    color: blue;
}